*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: ;
	line-height: 25px;
	color: #333333;
	font-family: Bahnschrift Condensed;
	background: url(images/background.jpg)repeat fixed
}
.warrper{ 
	width: 1000px;
	height: 100%;
	margin: auto;
	box-shadow: 0px 5px 5px gray;
	background: white;overflow: hidden;
}
.main_content{ 
	width: 960px;
	margin: auto;
	height: 100%;
	background: whtie;
	overflow: hidden;
}
.social_links{
	width: 100%;
	float: right;
	height: 100px;
}
.social_links ul{
	list-style: none;
}
.social_links ul li{
	float: right;
	text-align: right;
	padding: 10px;
	margin-top: 20px;
}
.school_banar{
	float: left;
	cursor: pointer;
}
.main_menu{
	width: 100%;
	height: 50px;
	float: left;
	background: #3F51B5
	

}
.main_menu ul{
	list-style: none;               
}
.main_menu ul li{
    display: inline-block;
    padding: 10px ;
    font-family: Bahnschrift Condensed;
    background: #3f51b5;

}
.main_menu ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.main_menu ul li a:hover{
	border-bottom: 1px solid whitesmoke;
}

.banar_slider{
	float: left;
	width: 960px;
	height: 300px;
}
.banar_slider img{
	float: left;
	width: 960px;
	height: 300px;
}
.sideber_left{
	width: 220px;
	height: auto;
	float: left;
	border: 1px solid #CCCCCC;
	margin-top: 30px 
}
.sideber_left ul{
	list-style: None;
}
.sideber_left ul li{
width: 220px;
background: #cddc3969;
padding: 10px;
border-bottom: 1px solid #CCCCCC;
cursor:pointer;
  font-family: Bahnschrift Condensed;
}
.sideber_left ul li a{
	text-decoration: none;
	color: black;
	margin-left: 20px;display: block;
}
.sideber_left ul li:hover{
	background: gray;
	transition:  0.5s;
}
.sideber_left ul li a:hover{
	color: white;
}
.profile_img img{
	   width: 170px;
    height: 200px;
    margin-left: 25px;
    margin-top: 15px;

	}
	.profile_img h5{
	background: #cddc3969;
    font-size: 15px;
	}
.Sidebar_right{
	width: 220px;
	height: auto;
	float: right;
	border: 1px solid #CCCCCC;
	margin-top: 30px 
}
.Sidebar_right ul{
	list-style: None;
}
.Sidebar_right ul li{
width: 220px;
background: #cddc3969;
padding: 10px;
border-bottom: 1px solid #CCCCCC;
cursor:pointer;
  font-family: Bahnschrift Condensed;
}
.Sidebar_right ul li a{
	text-decoration: none;
	color: black;
	margin-left: 20px;
	display: block;
}
.Sidebar_right ul li:hover{
	background: gray;
	transition:  0.5s;
}
.Sidebar_right ul li a:hover{
	color: white;
}

.notice_board{
	width: 480px;
	height: 370px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
	border: 1px solid #CCCCCC;
	border-bottom: 2px solid #3f51b5;
	border-top: 2px solid #3f51b5;
	
}
.notice_board h2{
	margin-top: 10px;
}
.Notice_title ul{
	list-style: None;
	padding: 25px;
	line-height: 35px;
	cursor:pointer;
 	font-family: Bahnschrift Condensed;
 	text-align: justify;
}
.Notice_title ul li{
	border-bottom: 1px solid #CCCCCC;
	color: blue;
}

.Notice_title ul li:hover{
	color: blueviolet;
}

a{
	text-decoration: none;
}
.text {
    float: left;
    width: 480px;
    height: 230px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: justify;
    padding: 10px;
    border: 1px solid #CCCCCC; 
}
.text p {
	padding: 10px;
}
.text h3 {
	margin-left: 5px
}
.scroll_text{
	margin-top: 20px;
	background: #2196f3;
	
}
.scroll_text a{
	text-align: center;
	color: white;

}
.Video_clip{
	  width: 220px;
    height: 230px;
    border: 1px solid #CCCCCC;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
   
}
.footer_area{
width: 100%px;
height: 265px;
float: left;
margin-top: 100px;
background: #29326b;
color: white;


}
.footer_left{
	float: left;
	width: 300px;
	height: 250px;
	padding: 10px;
	font-size: 20px;
	
}
.footer_left h5{
	margin-top: 100px; 
	padding: 10px;
}
.footer_medele{
float: left;
	width: 300px;
	height: 250px;
	padding: 10px;
}
.footer_right{
	float: left;
	width: 360px;
	height: 250px;
	padding: 90px;
}
.footer_right p{
	
}

.footer_links ul{
	list-style: none;
	margin-left: 20px;
	margin-top: 100px ;

}
.footer_links ul li{
	float: left;
	padding: 5px;
}
.footer_links ul li a{
		
}
